body {

    color: black;
    background-image: url("../img/background.jpg");
    background-position: center;
    background-repeat: repeat;
    /* background-size: cover; */
    
}

.jumbotron{
    font-family: algerian;
    background-image: url("../img/nasa2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	color: whitesmoke;
}

.article-box {
    background-color: rgb(223, 222, 219);
  }

.container {
    width: 1200px;
    margin: auto;

}

.hidden {
    display: none;
}

.found {
    display: block;
}

.item-display {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-evenly;
}

.item-title {
    margin: 0;
}

.store {
    text-align: center;
    margin-bottom: 50px;
    background-image: url("../img/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: cover; */
}

.store-item {
    border: 1px solid gray;
    background-image: url("../img/products/ProdTemplate.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 200px;
    font-size: 20px;
    font-weight: bold;
}

.store-item:hover {
    cursor: pointer;
}

.pairing:hover {
    background: rgb(34, 71, 235);
    color: white;
}

.pairing > p {
    font-size: 20px;
}

@media (max-width: 800px) {
    .item-display {
        flex-direction: column;
        align-items: center;
    }
    .pairing {
        border: 1px solid darkslategrey;
        margin-left: none;
        margin-right: none;
    }
    .main-title {
        width: 350px;
    }

    .container {
        width: 360px;
    }
    
    .page-footer {
        background-color: #929FBA;
        background-color: rgb(38, 78, 165);
        color: white;
    }

  } 