body {
    color: black;
    background-image: url("../img/background.jpg");
    background-position: center;
    background-repeat: repeat;
    /* background-size: cover; */
}

.jumbotron{
    font-family: algerian;
    background-image: url("../img/nasa2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	color: whitesmoke;
}

.nav-item {
  margin: 10px;
}

.article-comments
.article-delete {
    margin: 10px;
}

.article-box {
    background-color: rgb(223, 222, 219);
    margin-bottom: 15px;
    padding: 10px;
}

.container {
    width: 1200px;
    margin: auto;
}

.hidden {
    display: none;
}

.found {
    display: block;
}

.item-display {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 800px) {
    .item-display {
        flex-direction: column;
        align-items: center;
    }
    .main-title {
        width: 350px;
    }

    .container {
        width: 360px;
    }
    
  } 